@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: url("images/bg-pattern.svg") no-repeat, hsl(230, 100%, 99%);
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  font-family: "Manrope", sans-serif;
}
.page-title {
  margin: 5% 30% 0%;
  text-align: center;
  padding: 3%;
}
.page-title img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -24%);
  z-index: -1;
}
.page-title h2 {
  color: hsl(227, 35%, 25%);
  font-size: 28px;
}
.page-title p {
  color: hsl(225, 20%, 60%);
  padding: 2% 0%;
  font-size: 15px;
}
.card {
  margin: 2% 30% 5%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 25px -15px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}
.card-header {
  padding: 8% 6% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: hsl(225, 20%, 60%);
  font-size: 14px;
  font-weight: 600;
}
.item1 {
  align-self: center;
}
.item1 p {
  letter-spacing: 1px;
  text-transform: uppercase;
}
.item2 {
  display: block;
}
.item3 {
  display: none;
  text-align: center;
  padding: 3% 6%;
  color: hsl(225, 20%, 60%);
  font-size: 14px;
  font-weight: 600;
}
.price {
  font-size: 35px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
  vertical-align: middle;
}
.slider {
  padding: 6%;
  display: flex;
  flex: 100%;
  justify-content: center;
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    hsl(174, 77%, 80%) 59%,
    hsl(224, 65%, 95%) 41%
  );
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url("images/icon-slider.svg") no-repeat, hsl(174, 77%, 60%);
  background-position: center;
  background-size: 60%;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 12px 25px 5px hsl(174, 77%, 80%);
}
input[type="range"]::-webkit-slider-thumb:active {
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0px 12px 25px 10px hsl(174, 77%, 80%);
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3% 6% 6%;
}
.card-body p {
  color: hsl(225, 20%, 60%);
  font-size: 13px;
  font-weight: 600;
}
#offer {
  width: 47%;
}
#offer::after {
  content: "25% discount";
  padding: 0% 3%;
  margin-left: 2%;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 25px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 20px;
  width: 40px;
  background-color: hsl(223, 50%, 87%);
  border-radius: 34px;
  border: none;
  cursor: pointer;
  margin: 0% 3%;
}
input:checked[type="checkbox"] {
  background-color: hsl(174, 86%, 45%);
}
input[type="checkbox"]::before {
  content: "";
  height: 16px;
  width: 16px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  transition: 0.5s;
  transform: translate(2px, 2px);
}
input:checked[type="checkbox"]::before {
  transform: translate(20px, 2px);
}
.card-footer {
  display: flex;
  flex-direction: row;
  padding: 6%;
  border-top: 1px solid hsl(224, 65%, 95%);
}
.foot-item1,
.foot-item2 {
  display: flex;
  flex-direction: column;
  flex: 50%;
}
.foot-item1 li {
  list-style: none;
  font-size: 12px;
  padding: 2px;
  color: hsl(225, 20%, 60%);
}
.foot-item1 img {
  padding-right: 3%;
}
.foot-item2 {
  justify-content: center;
  align-items: flex-end;
}
.foot-item2 button {
  padding: 2%;
  height: 35px;
  width: 135px;
  border: none;
  border-radius: 25px;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
}
.foot-item2 button:hover {
  color: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1100px) {
  #offer::after {
    content: "-25%";
    margin-left: 5%;
  }
}
@media screen and (max-width: 900px) {
  .card-header {
    padding: 8% 6% 6%;
    justify-content: center;
  }
  .item2 {
    display: none;
  }
  .item3 {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  body {
    background-position: top left;
    background-size: 200%;
  }
  .page-title {
    margin: 5% 24% 0%;
  }
  .card {
    margin: 2% 24% 5%;
  }
}
@media screen and (max-width: 650px) {
  body {
    background-size: 250%;
  }
  .page-title {
    margin: 25% 5% 5%;
  }
  .card {
    margin: 2% 5% 6%;
  }
  .card-footer {
    flex-direction: column;
  }
  .foot-item1,
  .foot-item2 {
    flex: 100%;
  }
  .foot-item1 {
    text-align: center;
  }
  .foot-item2 {
    padding: 6%;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  body {
    background-size: 400%;
  }
  .page-title img {
    transform: translate(-50%, -10%);
  }
  .page-title h2 {
    font-size: 20px;
  }
  .page-title p {
    padding: 3% 15%;
  }
}
